.header{
    font-size:50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow:2px 2px rgb(44, 90, 117);
    padding:50px 50px;
    background: #1d2150;
    color:#fff;
    margin:0 0 40px 0;
}

@media screen and (max-width:768px){
    .header{
        font-size:30px;
    }
}