@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
body {
  margin: 0;
  padding:0;
  font-family:'Amita', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


